{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/inicio-styles.css">
<title>RamDeals</title>

<body>
    <div class="padre">
        <div class="inicio-padre">
            <div class="banner">
                <img src="https://xxboxnews.blob.core.windows.net/prod/sites/4/MIC332-bluey-16x9-FINAL-c5e8e03b774c2c117cb7-45f0199ca0434a3706c7.png"
                    alt="xbox series x" id="xbox">
            </div>
        </div>
    </div>
    <div class="titulo">
        <h1 class="titulo-seccion">
            Productos que te pueden interesar
        </h1>
    </div>
    <div class="productos">
        {% for product in products %}
        <div class="producto-unique">
            <a href="{% url 'product-details' product_id=product.id %}" id="image_url">
                <img src={{product.image_url}}>
            </a>
            <div class="contenido">
                <div class="div-title">
                    <a class="producto-title" href="{% url 'product-details' product_id=product.id %}">
                        {{product.product_name}}
                    </a>
                </div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "> 1,222</span>
                </div>
                <div class="precio">
                    <h2 class="costo">
                        ${{ product.final_price }}
                    </h2>
                </div>
                {% if product.stock > 0 %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="comprar">
                        <input type="text" value="{{product.id}}" name="product-id" hidden>
                        <input type="text" value="{{product.product_name}}" name="prodoct-name" hidden>
                        <input type="text" value="{{product.final_price}}" name="product-price" hidden>
                        <input type="text" value="{{product.image_url}}" name="product-image" hidden>
                        <input type="text" value="{{product.stock}}" name="product-stock" hidden>
                        <button class="material-symbols-outlined btn-carrito" name="shop" value="add_to_cart">
                            shopping_cart
                        </button>
                    </div>
                </form>
                {% else %}
                <div>
                    <span id="out-stock">No hay stock</span>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="ver">
        <div class="accion">
            <button>
                Ver todos los productos
            </button>
        </div>
    </div>
    <div class="hijo-banner">
        <div class="banner-dos">
            <a href="">
                <img src="https://www.beatsbydre.com/content/dam/beats-support/global/images/og/beats-studio-buds-global-og-image.jpg"
                    alt="beats audifonos">
            </a>
        </div>
    </div>
    <div class="titulo">
        <h1 class="titulo-seccion">
            Vuelve a comprar
        </h1>
    </div>
    <div class="productos">
        <div class="producto-unique">
            <img src="recursos/index-6.webp" alt="Jesus Is King">
            <div class="contenido">
                <div class="div-title">
                    <h1 class="producto-title">
                        Jesus Is King - Stolen Edition
                    </h1>
                </div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star "> 52</span>
                </div>
                <div class="precio">
                    <h2 class="costo">
                        $9,999
                    </h2>
                </div>
                <div class="comprar">
                    <button class="btn-comprar">Comprar ahora</button>
                    <button class="btn-carrito">
                        <a href="#" class="material-symbols-outlined">
                            shopping_cart
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="producto-unique">
            <img src="recursos/index-7.jpg" alt="Audifonos Air Pods">
            <div class="contenido">
                <div class="div-title">
                    <h1 class="producto-title">
                        Audifonos Air Pods Pro 2da
                    </h1>
                </div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "> 9,22</span>
                </div>
                <div class="precio">
                    <h2 class="costo">
                        $5,999
                    </h2>
                </div>
                <div class="comprar">
                    <button class="btn-comprar">Comprar ahora</button>
                    <button class="btn-carrito">
                        <a href="#" class="material-symbols-outlined">
                            shopping_cart
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="producto-unique">
            <img src="recursos/index-8.jpg" alt="Consola PlayStation Portable">
            <div class="contenido">
                <div class="div-title">
                    <h1 class="producto-title">
                        Consola PlayStation Portable
                    </h1>
                </div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "> 5,001</span>
                </div>
                <div class="precio">
                    <h2 class="costo">
                        $2,599
                    </h2>
                </div>
                <div class="comprar">
                    <button class="btn-comprar">Comprar ahora</button>
                    <button class="btn-carrito">
                        <a href="#" class="material-symbols-outlined">
                            shopping_cart
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="producto-unique">
            <img src="recursos/index-9.webp" alt="Nintendo Switch - Mario Kart">
            <div class="contenido">
                <div class="div-title">
                    <h1 class="producto-title">
                        Nintendo Switch - Mario Kart
                    </h1>
                </div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star "> 100</span>
                </div>
                <div class="precio">
                    <h2 class="costo">
                        $15,999
                    </h2>
                </div>
                <div class="comprar">
                    <button class="btn-comprar">Comprar ahora</button>
                    <button class="btn-carrito">
                        <a href="#" class="material-symbols-outlined">
                            shopping_cart
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="producto-unique">
            <img src="recursos/index-10.jpg" alt="Playstation 5 edición spiderman">
            <div class="contenido">
                <div class="div-title">
                    <h1 class="producto-title">
                        Cargador de Laptop RamAP
                    </h1>
                </div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star "> 1,222</span>
                </div>
                <div class="precio">
                    <h2 class="costo">
                        $599
                    </h2>
                </div>
                <div class="comprar">
                    <button class="btn-comprar">Comprar ahora</button>
                    <button class="btn-carrito">
                        <a href="#" class="material-symbols-outlined">
                            shopping_cart
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ver-2">
        <div class="accion">
            <button>
                Ver todos los productos
            </button>
        </div>
    </div>

    <script src="./scripts/hamburger.js"></script>
</body>
{% endblock %}