{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/login-style.css">
<title>Inicia sesión | RamDeals</title>

<body>
  <form action="/signin/" method="POST">
    {{error}}
    {% csrf_token %}
    <div class="imagen">
      <img src="recursos/login.png" alt="">
    </div>
    <div class="form-login">
      <div class="cancelar">
        <a href="index.html">
          <img src="recursos/Back.png" alt="Flecha izq">
        </a>
        <p class="parrafo-cancelar">
          Cancelar y volver al inicio
        </p>
      </div>
      <h1 class="inicia-sesion">
        Iniciar sesión
      </h1>
      <div class="form-inputs">
        <input id="email" type="text" placeholder="Correo electrónico" name="email">
        <input id="password" type="password" placeholder="Contraseña" name="password">
        <button class="btn-inicia">Iniciar sesión</button>
        <p class="tienes">¿No tienes cuenta? <a href="registro.html">Registrate ahora</a></p>
      </div>
    </div>
  </form>

  <script src="./scripts/login.js"></script>
</body>
{% endblock %}