{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/purchase-history.css' %}" />
<title>RamDeals</title>
</head>

<body>
    <main>
        <div class="prev-sites">
            <span>
                <a href="./index.html">Inicio</a>
            </span>
        </div>
        <div class="conf-container">
            <div class="confirmation-msg">
                Usted ha realizado su compra con éxito
                <a href="index.html">Continuar</a>
            </div>
        </div>
        <div class="table-container">
            <table class="products-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    {% for purchase in purchases %}
                    <tr>
                        <td>
                            <div class="item-info">
                                <img src="{{purchase.product.image_url}}" alt="" class="cart-images">
                                <div class="item-details">
                                    <p>{{purchase.product.product_name}}</p>
                                    <small>Precio: ${{purchase.product.final_price}}</small>
                                </div>
                            </div>
                        </td>
                        <td><input placeholder="{{purchase.quantity}}" onkeydown="return false" readonly></td>
                        <td class="total-price"> {{purchase.subtotal}} </td>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="purchase-summary">
                <div class="total-purchase">
                    <table class="total-table">
                        <caption>Total de la compra</caption>
                        <tr>
                            <td>
                                Subtotal
                            </td>
                            <td class="total-price">${{subtotal}}</td>
                        </tr>
                        <tr>
                            <td>
                                Envío
                            </td>
                            <td>Gratis</td>
                        </tr>
                        <tr>
                            <td>
                                Total
                            </td>
                            <td class="total-price">${{subtotal}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </main>
    {% endblock %}
</body>