{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/registro-style.css">
<title>Registrate | RamDeals</title>

<body>
  <div class="padre">
    <div class="imagen">
      <img src="recursos/login.png" alt="">
    </div>
    <div class="form-login">
      <div class="cancelar">
        <a href="index.html">
          <img src="recursos/Back.png" alt="Flecha izq">
        </a>
        <p class="parrafo-cancelar">
          Cancelar y volver al inicio
        </p>
      </div>
      <h1 class="inicia-sesion">
        Crea una cuenta
      </h1>
      <form action="/signup/" method="POST">
        {{error}}
        {% csrf_token %}
        <input type="text" placeholder="Nombres" id="name" name="name">
        <input type="text" placeholder="Apellidos" id="last_names" name="last_names">
        <input type="text" placeholder="Correo electrónico" id="email" name="email">
        <input type="text" placeholder="Número telefónico" id="cellphone_number" name="cellphone_number">
        <input type="text" placeholder="Dirección de envío" id="adress" name="adress">
        <input type="password" placeholder="Contraseña" id="password" name="password">
        <input type="password" placeholder="Confirmar tu contraseña" id="repeat_password" name="repeat_password">
        <button class="btn-inicia">Crear cuenta</button>
        <button class="btn-google">
          <span>
            <img src="recursos/google-logo.png" alt="Google logo">
            Regístrate con Google
          </span>
        </button>
        <p class="tienes">¿Ya tienes una cuenta? <a href="login.html">Inicia sesión</a></p>
      </form>
    </div>
  </div>
  <script src="./scripts/register.js"></script>
</body>
{% endblock %}