{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/search-style.css">
<title>Búsqueda | RamDeals</title>

<body>
    <div class="busqueda-padre">
        <div class="contenedor-filtros">
            <section class="info">
                <div class="secciones">
                    <p class="encabezado parrafo-informacion">
                        Costo de envío
                    </p>
                    <p class="parrafo-informacion">
                        Envía gratis
                    </p>
                    <p class="parrafo-informacion">
                        Envío con costo
                    </p>
                </div>
                <div class="secciones">
                    <p class="encabezado parrafo-informacion">
                        Precios
                    </p>
                    <p class="parrafo-informacion">
                        Hasta $1,500
                    </p>
                    <p class="parrafo-informacion">
                        $1,500 a $10,000
                    </p>
                    <p class="parrafo-informacion">
                        Más de $10,000
                    </p>
                </div>
                <div class="secciones">
                    <p class="encabezado parrafo-informacion">
                        Condición
                    </p>
                    <p class="parrafo-informacion">
                        Usado
                    </p>
                    <p class="parrafo-informacion">
                        Nuevo
                    </p>
                </div>
                <div class="secciones">
                    <p class="encabezado parrafo-informacion">
                        Xbox
                    </p>
                    <p class="parrafo-informacion">
                        Sony
                    </p>
                    <p class="parrafo-informacion">
                        Nintendo
                    </p>
                </div>
            </section>
        </div>
        <div class="contenedor-productos">
            <div class="resultado">
                <h1 class="titulo-resultado">
                    Resultados sobre "{{searched_product}}"
                </h1>
                <button class="btn-filtros">Filtros</button>
            </div>
            <div class="productos-all">
                {% for product in products %}
                <div class="producto-unique">
                    <a href="{% url 'product-details' product_id=product.id %}" id="image_url">
                        <img src="{{product.image_url}}">
                    </a>
                    <div class="contenido">
                        <div class="div-title">
                            <a class="producto-title" href="{% url 'product-details' product_id=product.id %}"
                                id="image_url">
                                {{product.product_name}}
                            </a>
                        </div>
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"> 3,765</span>
                        </div>
                        <div class="precio">
                            <h2 class="costo">
                                {{product.final_price}}
                            </h2>
                        </div>
                        <div class="texto-producto">
                            <p>
                                {{product.description}}
                            </p>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="comprar">
                                <input type="text" value="{{product.id}}" name="product-id" hidden>
                                <input type="text" value="{{product.product_name}}" name="prodoct-name" hidden>
                                <input type="text" value="{{product.final_price}}" name="product-price" hidden>
                                <input type="text" value="{{product.image_url}}" name="product-image" hidden>
                                <input type="text" value="{{product.stock}}" name="product-stock" hidden>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}