{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="../static/styles/shopping-cart-style.css">
    <title>RamDeals</title>
<body>
    <main>
        <div class="prev-sites">
            <span>
                <a href="./index.html">Inicio</a>
                <a href="./shopping-cart.html">Carrito</a>
            </span>
        </div>
        <div class="table-container">
            <table class="products-table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-info">
                                <img src="./recursos/monitor.png" alt="" class="cart-images">
                                <div class="item-details">
                                    <p>Monitor IPS 165hz</p>
                                    <small>Precio: $6500</small>
                                    <a href="" class="remove">Quitar</a>
                                </div>
                            </div>
                        </td>
                        <td><input type="number" placeholder="1"></td>
                        <td class="total-price">$6500</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-info">
                                <img src="./recursos/monitor.png" alt="" class="cart-images">
                                <div class="item-details">
                                    <p>Monitor IPS 165hz</p>
                                    <small>Precio: $6500</small>
                                    <a href="" class="remove">Quitar</a>
                                </div>
                            </div>
                        </td>
                        <td><input type="number" placeholder="1"></td>
                        <td class="total-price">$6500</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="purchase-summary">
                <div class="coupon-section">
                    <input type="text" placeholder="Código de cupón">
                    <button>Aplicar cupón</button>
                    </div>
                    <div class="total-purchase">
                        <table class="total-table">
                            <caption>Total de la compra</caption>
                            <tr>
                                <td>
                                    Subtotal
                                </td>
                                <td class="total-price">$7500</td>
                            </tr>
                            <tr>
                                <td>
                                    Envío
                                </td>
                                <td>Gratis</td>
                            </tr>
                            <tr>
                                <td>
                                    Total
                                </td>
                                <td class="total-price">$7500</td>
                            </tr>
                        </table>
                        <div class="final-actions">
                            <button id="cancel-button">Cancelar compra</button>
                            <button id="buy-button">Realizar compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>
{% endblock %}