{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/shopping-cart-style.css">
<title>RamDeals</title>

<body>
    <main>
        <div class="prev-sites">
            <span>
                <a href="./index.html">Inicio</a>
                <a href="./shopping-cart.html">Carrito</a>
            </span>
        </div>
        <form action="/shopping-cart/" method="POST">
            {% csrf_token %}
            <div class="table-container">
                <table class="products-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        {% for product in products %}
                        <tr>
                            <td>
                                <div class="item-info">
                                    <img src="{{product.image_url}}" alt="" class="cart-images">
                                    <div class="item-details">
                                        <p>{{product}}</p>
                                        <small>Precio: ${{product.final_price}}</small>
                                        <a href="" class="remove">Quitar</a>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" placeholder="1" max="{{product.stock}}" min="1"
                                    value="{{product.quantity}}" name="{{product}}"></td>
                            <td class="total-price">$HACWER CON JS</td>
                        </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="purchase-summary">
                    <div class="total-purchase">
                        <table class="total-table">
                            <caption>Total de la compra</caption>
                            <tr>
                                <td>
                                    Subtotal
                                </td>
                                <td class="total-price">$HACER CON JS</td>
                            </tr>
                            <tr>
                                <td>
                                    Envío
                                </td>
                                <td>Gratis</td>
                            </tr>
                            <tr>
                                <td>
                                    Total
                                </td>
                                <td class="total-price">$HACER CON JS</td>
                            </tr>
                        </table>
                        <div class="final-actions">
                            <button id="cancel-button">Cancelar compra</button>
                            <button id="buy-button">Realizar compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </main>
</body>
{% endblock %}