{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="../static/styles/user-style.css" />
<div class="padre">
    <div class="seccion-izq">
        <div class="contenedor-filtros">
            <section class="info">
                <div class="secciones">
                    <p class="encabezado parrafo-informacion">Administrar mi cuenta</p>
                    <p class="parrafo-informacion color">Mi perfil</p>
                </div>
                <div class="secciones">
                    <a class="encabezado parrafo-informacion" href="{% url 'purchase-history' %}">Mis pedidos</a>
                </div>
            </section>
        </div>
    </div>
    <div class="user-config-padre">
        <div class="titulo-user">
            <h1 class="editar-usuario">Edita tu perfil</h1>
        </div>

        <form class="formulario-all" action="/profile/" method="POST">
            {{error}}
            {% csrf_token %}
            <div class="formulario-unique">
                <div class="formulario-nombre form">
                    <p class="nombre">Nombre</p>
                    <input type="text" placeholder="{{user_first_name}}" name="names" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-apellidoMA form">
                    <p class="apellidoMA">Apellidos</p>
                    <input type="text" placeholder="{{user_last_names}}" name="last_names" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-num form">
                    <p class="num">Número telefónico</p>
                    <input type="text" placeholder="612 117 4105" name="cellphone_number" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-correo form">
                    <p class="correo">Correo electrónico</p>
                    <input type="text" placeholder="{{user_email}}" name="email" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-dir form">
                    <p class="dir">Dirección</p>
                    <input type="text" placeholder="Chametla, 42069, México" name="adress" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-pass form">
                    <p class="pass">Contraseña actual</p>
                    <input type="password" name="actual_password" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-pass form">
                    <p class="pass">Contraseña nueva</p>
                    <input type="password" name="new_password" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-pass form">
                    <p class="pass">Confirmar nueva contraseña</p>
                    <input type="password" name="confirm_new_password" />
                </div>
            </div>
            <div class="formulario-unique">
                <div class="formulario-btn form">
                    <button class="guardar">Guardar</button>
                    <button class="cancelar">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}